* {margin:0; padding:0;}
ul,ol,li {list-style:none;}
a {text-decoration:none;}
img {vertical-align:middle;}

#header {background:pink;}
#header .center {background:orange; width:1000px; margin:0 auto;}

#container {background:skyblue;}

#footer {background:gold;}

