* {margin:0; padding:0;}
ul,ol,li {list-style:none;}
a {text-decoration:none;}
img {vertical-align:middle;}

#header {background:pink;}
#header .center {background:orange; width:1000px; margin:0 auto;}

#container {background:skyblue;}
#container .cont1 .center {width:1170px; margin:0 auto; background:green;}
#container .cont2 .center {width:1200px; margin:0 auto; background:lime;}

#footer {background:gold;}
#footer .center {width:1170px; margin:0 auto; background-color:brown;}
#footer p { font-size:25px; color:red;}

/* 서브페이지 1번 css 작업구간 */
#header .h-top .center {background-color:palegreen; color:seagreen;}
#header .h-bot .center {background-color:palevioletred; color:slateblue;}

#container .center {background-color: springgreen; width:1200px; margin:0 auto;}

#container .cont3 {background-color:midnightblue; height:300px;}


